<$ include partials/header $>

    <div class='header'>
        <h4 class='page-header__label'>Personality Insights and Watson Friends Present</h4>
        <h1 class='page-header__title'>Watson Team Compare</h1>
    </div>
    <div class='parent-row'>
        <div class='left'>
            <div class='table-head'>
                <h2>Team</h2>
                <button class="bx--btn bx--btn--primary"  type="button">
                    Add Member
                    <svg class="bx--btn__icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 7H4v2h3v3h2V9h3V7H9V4H7v3zm1 9A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" fill-rule="evenodd" />
                    </svg>
                </button>
            </div>
            <section class="bx--structured-list bx--structured-list--border bx--structured-list--selection" data-structured-list>
                <div class="bx--structured-list-thead">
                    <div class="bx--structured-list-row bx--structured-list-row--header-row">
                        <div class="bx--structured-list-th"></div>
                        <div class="bx--structured-list-th"></div>
                    </div>
                </div>
                <div class="bx--structured-list-tbody">
                    <label for="apache-id" aria-label="apache spark" class="bx--structured-list-row" tabindex="0">    
                        <div class="bx--structured-list-td">
                        </div>
                        <div class="bx--structured-list-td bx--structured-list-content--nowrap">
                            <img class="input--thumb" src="/images/twitter/oprah.png">
                        </div>
                        <div class="bx--structured-list-td">@Oprah (<$= __("twitterlang-en") $>)</div>
                            </label>

                        <label for="apache-id" aria-label="apache spark" class="bx--structured-list-row" tabindex="0">    
                            <div class="bx--structured-list-td">
                            </div>
                            <div class="bx--structured-list-td bx--structured-list-content--nowrap">
                                <img class="input--thumb" src="/images/twitter/kingjames.jpg">
                            </div>
                            <div class="bx--structured-list-td">@KingJames (<$= __("twitterlang-en") $>)</div>
                                </label>

                            <label for="apache-id" aria-label="apache spark" class="bx--structured-list-row" tabindex="0">    
                                <div class="bx--structured-list-td">
                                </div>
                                <div class="bx--structured-list-td bx--structured-list-content--nowrap">
                                    <img class="input--thumb" src="/images/twitter/DonFranciscoTV.jpg">
                                </div>
                                <div class="bx--structured-list-td">@DonFranciscoTV (<$= __("twitterlang-es") $>)</div>
                                    </label>

                                <label for="apache-id" aria-label="apache spark" class="bx--structured-list-row" tabindex="0">    
                                    <div class="bx--structured-list-td">
                                    </div>
                                    <div class="bx--structured-list-td bx--structured-list-content--nowrap">
                                        <img class="input--thumb" src="/images/twitter/pontifex_es.jpg">
                                    </div>
                                    <div class="bx--structured-list-td">@pontifex_es (<$= __("twitterlang-es") $>)</div>
                                        </label>
                                    </div>
                                </section>
                            </div>    
                        <div class='right'>
                            <div class='table-head'>
                                <h2>Candidates</h2>
                                <button class="bx--btn bx--btn--primary"  type="button">
                                    Add Member
                                    <svg class="bx--btn__icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7 7H4v2h3v3h2V9h3V7H9V4H7v3zm1 9A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" fill-rule="evenodd" />
                                    </svg>
                                </button>
                            </div>
                            <section class="bx--structured-list bx--structured-list--border bx--structured-list--selection" data-structured-list>
                                <div class="bx--structured-list-thead">
                                    <div class="bx--structured-list-row bx--structured-list-row--header-row">
                                        <div class="bx--structured-list-th"></div>
                                        <div class="bx--structured-list-th"></div>
                                    </div>
                                </div>
                                <div class="bx--structured-list-tbody">
                                    <label for="apache-id" aria-label="apache spark" class="bx--structured-list-row" tabindex="0">    
                                        <div class="bx--structured-list-td">
                                        </div>
                                        <div class="bx--structured-list-td bx--structured-list-content--nowrap">
                                            <img class="input--thumb" src="/images/twitter/trikaofficial.jpg">
                                        </div>
                                        <div class="bx--structured-list-td">@trikaofficial (<$= __("twitterlang-ar") $>)</div>
                                            </label>

                                        <label for="apache-id" aria-label="apache spark" class="bx--structured-list-row" tabindex="0">    
                                            <div class="bx--structured-list-td">
                                            </div>
                                            <div class="bx--structured-list-td bx--structured-list-content--nowrap">
                                                <img class="input--thumb" src="/images/twitter/faridyu.jpg">
                                            </div>
                                            <div class="bx--structured-list-td">@faridyu (<$= __("twitterlang-ja") $>)</div>
                                                </label>

                                            <label for="apache-id" aria-label="apache spark" class="bx--structured-list-row" tabindex="0">    
                                                <div class="bx--structured-list-td">
                                                </div>
                                                <div class="bx--structured-list-td bx--structured-list-content--nowrap">
                                                    <img class="input--thumb" src="/images/twitter/Krungy21.jpg">
                                                </div>
                                                <div class="bx--structured-list-td">@Krungy21 (<$= __("twitterlang-ko") $>)</div>
                                                    </label>              

                                                </div>
                                            </section>
                                        </div>

                                    <button class="bx--btn bx--btn--primary-success"  type="button">Analyze</button>
                                </div>
                                </div>

                            <script type="text/html" id="big5PercentTemplate">
    <% _.each(items, function(item, key, list) { %>
      <% if (typeof list[key - 1] != 'undefined' && (list[key - 1].score >= 50 && item.score < 50)) { %>
        <hr class="base--hr output-stats-column--hr">
        <% } %>
          <div class="percent-bar-and-score">
            <div class="percent-bar-and-score--label output-big-5--trait-label <%= (item.score >= 50) ? 'output-big-5--trait-label_POSITIVE' : 'output-big-5--trait-label_NEGATIVE' %>">
              <%= item.name %>
                <i class="icon icon-down-arrow percent-bar-and-score--toggle-icon"></i>
                <div class="tooltip">
                  <%= tooltips(item.id) || '<$= __('tooltip-not-available') $>' %>
                                </div>
                                </div>
            <div class="percent-bar percent-bar-and-score--percent-bar">
              <div class="percent-bar--meter" style="-webkit-transform: translate(<%= item.score %>%); transform: translate(<%= item.score %>%)">
                <div class="percent-bar--ball <%= (item.score >= 50) ? 'percent-bar--ball_POSITIVE-FILL' : 'percent-bar--ball_NEGATIVE-FILL' %>"></div>
                <div class="percent-bar-and-score--number">
                  <%= item.score %>%</div>
                                </div>
                                </div>
                                </div>
          <div class="output-big-5--sub-tree">
            <% _.each(item.children, function(item2, key, list) { %>
              <div class="percent-bar-and-score">
                <div class="percent-bar-and-score--label output-big-5--sub-trait-label <%= (item2.score >= 50) ? 'output-big-5--sub-trait-label_POSITIVE' : 'output-big-5--sub-trait-label_NEGATIVE' %>">
                  <%= item2.name %>
                    <div class="tooltip">
                      <%= tooltips(item2.id) || '<$= __('tooltip-not-available') $>' %>
                                </div>
                                </div>
                <div class="percent-bar percent-bar-and-score--percent-bar">
                  <div class="percent-bar--meter" style="-webkit-transform: translate(<%= item.score %>%); transform: translate(<%= item2.score %>%)">
                    <div class="percent-bar--ball <%= (item2.score >= 50) ? 'percent-bar--ball_POSITIVE-FILL' : 'percent-bar--ball_NEGATIVE-FILL' %>"></div>
                    <div class="percent-bar-and-score--number">
                      <%= item2.score %>%</div>
                                </div>
                                </div>
                                </div>
              <% }); %>
                                </div>
          <% });%>
                            </script>

                            <script type="text/html" id="outputStatsPercentTemplate">
    <% _.each(items, function(item, key, list) { %>
      <% if (typeof list[key - 1] != 'undefined' && (list[key - 1].score >= 50 && item.score < 50)) { %>
        <hr class="base--hr output-stats-column--hr">
        <% } %>
          <div class="percent-bar-and-score">
            <div class="percent-bar-and-score--label <%= (item.score >= 50) ? 'percent-bar-and-score--label_POSITIVE' : 'percent-bar-and-score--label_NEGATIVE' %>">
              <%= item.name %>
                <div class="tooltip">
                  <%= tooltips(item.id) || '<$= __('tooltip-not-available') $>' %>
                                </div>
                                </div>
            <div class="percent-bar percent-bar-and-score--percent-bar">
              <div class="percent-bar--meter" style="-webkit-transform: translate(<%= item.score %>%); transform: translate(<%= item.score %>%)">
                <div class="percent-bar--ball <%= (item.score >= 50) ? 'percent-bar--ball_POSITIVE-FILL' : 'percent-bar--ball_NEGATIVE-FILL' %>"></div>
                <div class="percent-bar-and-score--number">
                  <%= item.score %>%</div>
                                </div>
                                </div>
                                </div>
          <% });%>
                            </script>

                            <script type="text/html" id="outputBehaviorsTemplate">
    <% _.each(items, function(item, key, list) { %>
      <div class="output-summary--behavior <%= item.score > 0.5 ? 'output-summary--behavior_POSITIVE' : 'output-summary--behavior_NEGATIVE' %>">
        <i class="icon <%= item.score > 0.5 ? 'icon-likely' : 'icon-not-likely' %>"></i>
        <%= item.verb %>
          <div class="tooltip">
            <%= item.description %>
              <div class="tooltip--hover-fix"></div>
                                </div>
                                </div>
    <% }); %>
                            </script>

                            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
                            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js"></script>
                            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
                            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/5.0.2/markdown-it.min.js"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>

                            <script type="text/javascript" src="js/vendors/q.js"></script>
                            <script type="text/javascript" src="js/components/q_util.js"></script>
                            <script type="text/javascript" src="js/components/tab-panels.js"></script>

                            <script type="text/javascript" src="vendor/personality-text-summary/dist/index.js"></script>
                            <script type="text/javascript" src="vendor/personality-trait-info/dist/index.js"></script>
                            <script type="text/javascript" src="vendor/personality-trait-descriptions/dist/index.js"></script>
                            <script type="text/javascript" src="vendor/personality-trait-names/dist/index.js"></script>
                            <script type="text/javascript" src="vendor/personality-consumption-preferences/dist/index.js"></script>
                            <script type="text/javascript" src="js/sunburst.js"></script>

                            <script type="text/javascript" src="js/demo.js"></script>
                            <script type="text/javascript" src="js/consumption-preferences-likely-sort.js"></script>
                            <script type="text/javascript" src="js/consumption-preferences-unlikely-sort.js"></script>

                            <script type="text/javascript">
                                var TWITTER_USER = <$- JSON.stringify(twitterUser) $>;
                                var GENERIC_REQUEST_ERROR = '<$= __('error-request') $>';
                                var OUTPUT_LANG = '<$= locale $>';
                            </script>

                            <$ if (bluemixAnalytics) { $>
                                <script type="text/javascript" src="https://cdn.rawgit.com/watson-developer-cloud/watson-developer-cloud.github.io/master/analytics.js" ></script>
                                <$ } $>
                                    </body>
                                </html>
